body,html {
    background: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* height: 100vh; */
    padding-top: 20px;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    border: white 1px solid;
    padding: 17px 12px 30px 12px;
    margin: 10px;
  }
  
  #top {
  
    display: flex;
    justify-content: space-between;
  }
  
  #title {
    width: 50%;
  }
  
  
  #bottom {
    margin-top: 34px;
    margin-left: 14px;
  }
  
  header {
    font-size: 1em;
    font-weight: 700;
    padding: 8px 0px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #1f1f1f;
  }

  header div{
    display: flex;
  /* text-align: center; */
  justify-content: space-around;
  align-items: center;
  }

  svg{
    display: block;
   fill: white;
  }

  iframe {
    display: block;
    margin: 0 auto;
  }
  
  footer {
      font-size: 1em;
      font-weight: 200;
      padding: 8px;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 100%;
      position: fixed;
      bottom: 0;
      background-color: #030303;
  }
  
  /* body:nth-child(1){
      margin-top: 60px;
  } */
  
  /* DEATILED STYLING */
  .kr-title{
      font-size: 1.3em;
  }
  .eng-title {
      font-size: .8em;
  }
  
  a{
      text-decoration: none;
      text-transform: none;
      color: white;
  }



  /* about section - DETAILS */
  #about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 17px 12px 30px 12px;
    margin: 10px;
    background-color: rgb(16, 16, 16);
    height: 329px;
  }

  .a-title {
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
  }

  .tags {
text-align: center;
padding: 10px;
  }


  .a-details {
    text-align: center;
    padding-bottom: 40px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  