body,html {
  background: black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* height: 100vh; */
  padding-top: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  border: white 1px solid;
  padding: 17px 12px 30px 12px;
  margin: 10px;
}

#top {

  display: flex;
  justify-content: space-between;
}

#title {
  width: 50%;
}


#bottom {
  margin-top: 34px;
  margin-left: 14px;
}

header {
  font-size: 1em;
  font-weight: 700;
  padding: 8px 0px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #1f1f1f;
  /* text-align: center; */ 
}

header div {
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
  align-items: center;
}


svg{
  display: block;
 fill: white;
}


/* footer {
    font-size: 1em;
    font-weight: 200;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #030303;
} */

/* body:nth-child(1){
    margin-top: 60px;
} */

/* DEATILED STYLING */
.kr-title{
    font-size: 1.3em;
}
.eng-title {
    font-size: .8em;
}

a{
    text-decoration: none;
    text-transform: none;
    color: white;
}

/* CHECKLIST NAVIGATION */

nav {
  position: fixed;
  /* right: -200px; */
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.809);
  width: 100%;
  height: 20%;
  transition: top .2s, opacity .5s;
  opacity: 0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4em;
}


#open-menu:checked ~ nav { /* WHEN CHECKBOX IS CHECKED IT WILL STYLE/TRIGGER ELEMENT
  "~" SIBLING SELECTOR-- ONLY YOUNGER SIBLINGS (SAME PARENT, SAME INDENTATION LEVEL, ANYWHERE BELOW ELEMENT IN HTML)
  "+" ADJACENT SELECTOR -- MUST BE RIGHT BELOW ELEMENT in HTML) */

  /* when checkbox is checked, change nav element */

  right: 0;
  opacity: 1;
}


#open-menu {
  display: none;
}

nav label {
  font-size: 1.5rem;
  /* margin-left: 90%; */
}

#blur-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* "none" will let links or whatever behind be clickable - you can go through the current element */
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}

#open-menu:checked ~ #blur-overlay {
  opacity: 1;
  /* add filter behind element */
  backdrop-filter: blur(1px);
  /* "all" will stop on that current layer, nothing behind will be clickable */
  pointer-events: all;
}